*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


// nav-Part

.navBar{
    background-color: rgb(29, 134, 214);
    width: 100vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
  
}

.navFrog{

    height: 50px;
    width: 50px;
    
}


//Product-Part

.productDemo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}





.productCard{
    margin: 20px;
 
    
    
}


.img{
    height: 35vh;
    width: 100%;
}

.productText{
    height: 40vh;
}

.cartBar{
    background-color: rgb(29, 134, 214);
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100vw;
    padding: 30px 0 30px 0;
}



.addRemoveButton{
    margin: 5px;
}

.shoppingCart{
    margin: 5px;
}


// RWD setting


  @media(max-width:500px){
    .navBar{
      height: 10vh;
      font-size: 1rem;
    }
    .cartBar{
        height: 150px;
    }
   
  }


